<h2>Follower User</h2>

  <% if @follower_users.empty? %>
    <span>ユーザーはいません</span>
  <% else%>
    
    <table class='table'>
      <thead>
        <tr>
          <th>Image</th>
          <th>name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @follower_users.each do |user| %>
          <tr>
            <td>
              <%= link_to user_path(user) do %>
                <%= image_tag user.get_profile_image, size:'50x50' %>
              <% end %>
            </td>
            <td><%= user.name %></td>
            <td>
              <%= link_to user_followers_path(user) do %>
                <h6>フォロー<%= user.followers.count %></h6>
              <% end %>
            </td>
            <td>  
              <%= link_to user_followings_path(user) do %>
                <h6>フォロワー<%= user.followings.count %></h6>
              <% end %>
            </td>
            <td><%= link_to 'Show', user %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>