<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
	 </tr> 
	 <tr>
	  <th>follows</th>
	  <td>
	    <%= link_to user_followings_path(user) do %>
        <h6><%= user.followers.count %></h6>
      <% end %> 
	  </td>
	 </tr>
	 <tr>
	  <th>followers</th>
	  <td>  
      <%= link_to user_followers_path(user) do %>
        <h6><%= user.followers.count %></h6>
      <% end %>
    </td>
   </tr>
   <tr>
      <!--% if user == current_user %>-->
    <!--<th>%= link_to 'フォローする', edit_book_path(@book), class: "btn btn-sm btn-success" %></th>-->
      <!--% end %>-->
   </tr>
</table>
　
<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>