<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
      <th></th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
   <% if @range == "User" %>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= link_to user.name %></td>
        <td><%= user.introduction %></td>
    <% end %>    
   <% else %> 　
    <% @books.each do |book| %>
      　<tr>
       　<td><%= image_tag book.user.get_profile_image, size:'50x50' %></td>
       　<td><%= link_to book.title,book_path(book) %></td>
       　<td><%= book.body %></td>
      　</tr>
    <% end %>
   <% end %>
  </tbody>
</table>